<%= render "shared/navbar" %>
<%= render "shared/flash" %>

<div class="columns is-flex is-flex-direction-column m-6">
  <%= render partial: "shared/dotw", :locals => { :day => 'Tuesday', :color => 'primary' } %>
  <%= render partial: "shared/dotw", :locals => { :day => 'Wednesday', :color => 'link' } %>
  <%= render partial: "shared/dotw", :locals => { :day => 'Thursday', :color => 'info' } %>
  <%= render partial: "shared/dotw", :locals => { :day => 'Friday', :color => 'success-dark' } %>
  <%= render partial: "shared/dotw", :locals => { :day => 'Saturday', :color => 'warning-dark' } %>
  <%= render partial: "shared/dotw", :locals => { :day => 'Irregular', :color => 'danger' } %>
</div>
