<%= render "shared/navbar" %>

<div class="container box is-flex is-flex-direction-column is-align-items-center is-justify-content-center mt-6">
  <h1 class="title">New Lesson:</h1>
  
  <div class="container">
    <%= form_with model: @lesson do |f| %>
      <%= f.label :rank %>
      <%= f.select :rank, ['10th Rank', '9th Rank', '8th Rank',
                           '7th Rank', '6th Rank', '5th Rank',
                           '4th Rank', '3rd Rank', '2nd Rank',
                           '1st Rank', 'Private Adult', 'Private Child',
                           'Private Group'] %>
    
      <%= f.label :time %>
      <%= f.time_field :time %>
    
      <%= f.label :date %>
      <%= f.select :date, ['Irregular', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %>
      <br>
    
      <%= f.fields_for :assignments do |sf| %>
        <%= sf.label :name %>
        <%= sf.text_field :name %>
    
        <%= sf.label :length %>
        <%= sf.number_field :length %>
      <% end %>
    
      <%= f.submit %>
    <% end %>
  </div>
</div>